body {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
  background-color: white;
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow-x:hidden;
}
h1 {
  font-size: 25px;
}

h2 {
  font-size: 35px;
}
h3 {
  font-size: 27px;
}
p {
  font-size: 18px;
}
ol {
  font-size: 18px;
}
ul {
  font-size: 18px;
}
hr {
  color: black;
}
.row {
  margin: 0px;
  padding:0px;
}

.title {
  display: block;
  border: 4px solid;
  padding-left: 5px;
  padding-right: 5px;
  /* padding-bottom: 0px; */
  width: fit-content;
  height: fit-content;
}
.nav-link {
  transition: .3s ease-in-out;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-weight: 600;
  cursor: pointer;
}
.nav-link:hover {
  padding-bottom: 0px;
  border-bottom: 3px solid black;
  width: fit-content;
  height: fit-content;
}

.externalLinks {
  font-size: 40px;
  color: #4b4b6d;
}
.fab {
  cursor: pointer;
  transition: .3s ease-in-out;

}
.fab:hover {
  transform: scale(1.2);

}
.fas {
  cursor: pointer;
  transition: .3s ease-in-out;

}
.fas:hover {
  transform: scale(1.2);

}

.intro {
  margin-bottom: 100px;
}

.landingPage {
  padding-top: 2vh;
  color: black;
  padding-left: 10vw;
  padding-right: 10vw;
  /* background-image: url('../images/background.jpg');
  background-size: cover; */
}
.navbar {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 1vh;
  color: black;
  padding-left: 0px;
  padding-right: 0px;
  background: rgba(255, 255, 255, 0.9);
} 
.subLandingPage {
  margin: auto;
  z-index: 1;
}
.MartinPhoto {
  max-width: 100%;
}
.image-cropper {
  height: auto;
  width: 85%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px 15px 15px 4px;
  border-color: #3a9bc0;
}
.drawingCanvas {
  width: inherit;
  height: 500px;
  border: solid;
  position: relative;
  padding: 0px;
  border-width: 4px;
}


.prompt {
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
}

.learnMore {
  transition: .5s ease;
  border-radius: 0px;
  font-weight: 600;
  margin-top: 1vh;
  border-style: solid;
  border-width: 4px;
  border-color: black;
}
.learnMore:hover {
  transform: scale(1.1);
}
.btn:focus, .btn:active:focus, .btn.active:focus{
  outline:none;
  box-shadow: none;
}

.aboutPage {
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vh;
}
.aboutContent {
  margin-top: 25px;
}

.aboutText {
  padding-top: 15px;
  /* background-color: #b3e4f7;
  box-shadow: 0 10px 10px rgba(0,0,0,0.22); */
}

.projectsPage {
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.resumePage {
  margin-top: 15vh;
  margin-left: 10vw;
  margin-right: 10vw;
}


.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
  object-fit: cover;
  box-shadow: 0 6px 6px rgba(0,0,0,0.25);
  margin-top: 30px;
  width: 100%;
  height: 245px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.container:hover .image {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.03);
  opacity: 0.2;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  padding: 16px 32px;
  font-weight: normal;
  cursor: pointer;
}

.footer {
  padding-top: 5vh;
  margin-top: 15vh;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #84ceeb;
  overflow: hidden;
}
.footerTitle {
  border-width: 4px;
  border-style: solid;
  color: white;
  margin: auto;
  margin-top: 10px;
  width: 280px;
  padding-left: 5px;
  padding-right: 5px;
  width: fit-content;
  height: fit-content;
}
.projectTitle {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 20px;
}

.slide-image {
  width: inherit;
  object-fit: cover;
  height: 475px;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.25);
}

.carousel {
  z-index: 999;
}

.bigImage {
  width: 100%;
  margin-top: 30px;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.scrollingView::-webkit-scrollbar {
  -webkit-appearance: none;
}
.scrollingView::-webkit-scrollbar:vertical {
  width: 11px;
}

.scrollingView::-webkit-scrollbar:horizontal {
  height: 12px;
}

.scrollingView::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .20);
}
.phoneMockup {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1800px)  { /* for smaller laptops like surface pro*/ 
  .navbar {
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .landingPage {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .projectsPage {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .resumePage {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

@media screen and (max-width: 1400px)  { /* for smaller laptops like surface pro*/ 
  .navbar {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .landingPage {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .projectsPage {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .resumePage {
    margin-left: 5vw;
    margin-right: 5vw;
  }

}

@media screen and (max-width: 640px)  { /* smartphones, Android phones, landscape iPhone */ 
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 17px;
  }
  ol {
    font-size: 17px;
  }
  ul {
    font-size: 17;
  }
  .aboutText {
    margin-top: 20px;
  }
  .aboutPage {
    padding-top: 3vh;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5vh;
  }
  .MartinPhoto {
    margin-top: -30px;
  }
  .drawingCanvas {
    width: 100%;
    height: 400px;
    border-width: 3px;
  }
  .landingPage {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
  }
  .navbar {
    margin-left: 15px;
    margin-right: 15px;  
  }

  .aboutContent {
    margin-top: 50px;
  }
  .image {
    height: 210px;
  }

  .slide-image {

    height: 325px;
  }

  .projectsPage {
    margin-left: 15px;
    margin-right: 15px;
  }

  .resumePage{ 
    margin-left: 15px;
    margin-right: 15px;
  }
  .intro {
    margin-bottom: 50px;
  }
  .prompt {
    margin: 0px;
    margin-top: 10px;
  }
  .bigImage {
    width: 100%;
    margin-top: 20px;
  }
  .caption-description {
    font-size: 12px;
  }
  .slide-title {
    font-size: 20px;
  }


}




