body {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;

}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
p {
  font-size: 20px;
}
.row {
  margin: 0px;
}
.navbar {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 1vh;
  color: black;
  padding-left: 0px;
  padding-right: 0px;
}
.title {
  border: 4px solid;
  padding-left: 5px;
  padding-right: 5px;
}
.nav-item {
  margin: 1vw;
  font-weight: bold;
}
.about-nav {
  animation-delay: 1.5s;
}


.portfolio-nav {
  animation-delay: 2s;
}
.contact-nav {
  animation-delay: 2.5s;
}


.intro {
  /* background-image:
      url('../assets/coding.gif');
  background-size: cover;
  background-origin: content-box;
    background-position: top;
  background-attachment: fixed;*/
  height: 100vh;

}

.landingPage {
  padding-top: 4vh;
  color: black;
  margin-left: 10vw;
  margin-right: 10vw;
}
.subLandingPage {
  margin: auto;
}
.MartinPhoto {
  max-width: 100%;
}
.image-cropper {
  height: auto;
  width: 75%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px 15px 15px 4px;
  border-color: #d3d3d3;
}
.slideshow {
  width: inherit;
  height: 70vh;
  background-color: rgb(168, 245, 255);
  border: solid;
  /* background-image: url("Jackstone.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
.aboutPage {
  height: 70vh;
  margin-left: 10vw;
  margin-right: 10vw;
}
.aboutContent {
  margin-top: 50px;
}
.footer {
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #777777;
  bottom: 0;
}
