body {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
  background-color: #f5f5f5;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
p {
  font-size: 20px;
}
.row {
  margin: 0px;
}
.navbar {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 1vh;
  color: black;
  padding-left: 0px;
  padding-right: 0px;
}
.title {
  border: 4px solid;
  padding-left: 5px;
  padding-right: 5px;
}
.nav-item {
  margin: 1vw;
  font-weight: bold;
}
.about-nav {
  animation-delay: 1.5s;
}


.portfolio-nav {
  animation-delay: 2s;
}
.contact-nav {
  animation-delay: 2.5s;
}


.intro {
  /* background-image:
      url('../assets/coding.gif');
  background-size: cover;
  background-origin: content-box;
    background-position: top;
  background-attachment: fixed;*/
  height: 100vh;

}

.landingPage {
  padding-top: 4vh;
  color: black;
  margin-left: 10vw;
  margin-right: 10vw;
}
.subLandingPage {
  margin: auto;
}
.MartinPhoto {
  max-width: 100%;
}
.image-cropper {
  height: auto;
  width: 75%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px 15px 15px 4px;
  border-color: #8fc1e3;
}
.slideshow {
  width: inherit;
  height: 70vh;
  background-color: #a8d0e6;
  border: solid;
  /* background-image: url("Jackstone.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
.aboutPage {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vh;
}
.aboutContent {
  margin-top: 50px;
}

.aboutText {
  background-color: #8fc1e3;
  box-shadow: 0 10px 10px rgba(0,0,0,0.22);
}

.projectsPage {
  margin-left: 10vw;
  margin-right: 10vw;
}


.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
  height: 250px;
  object-fit: cover;
  
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.03);
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 30px;
  padding: 16px 32px;
  font-weight: normal;
  cursor: pointer;
}

.footer {
  padding-top: 5vh;
  margin-top: 15vh;
  width: 100%;
  color: #ececec;
  text-align: center;
  background-color: #84ceeb;
  overflow: hidden;
}
.footerTitle {
  border-width: thick;
  border-style: solid;
  color: #ececec;
  margin: auto;
  margin-top: 10px;
  width: 280px;
}